.form-input__label {
  display: inline-block;
  margin-bottom: 20px;
  width: 300px;
}

.form-input__label-name {
  display: block;
}

.form-input__item {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.form-input__btn-submit {
  display: block;
  width: 300px;
  padding: 10px;
}