.login-page {
  width: 300px;
  margin: 0 auto;
}

.login-form__label {
  display: inline-block;
  margin-bottom: 20px;
  width: 300px;

  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}

.login-form__btn-submit {
  display: block;
  width: 300px;
  padding: 10px;
}